html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
}


.upload {
    position: relative;
    overflow: hidden;
    float: left;
    clear: left;
}

.upload input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 100px;
    filter: alpha(opacity=0);
    cursor: pointer;
}

label {
    color: black;
    font-weight: bold;
}

p {
    margin: 10px;
}

a {
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    outline: 0;
    color: hotpink;
}

a:active {
    color: red;
}

a:focus {
    outline: thin dotted;
}

h1 {
    font-size: 30px;
    margin: 0.67em 0;
    color: blue;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
}

button {
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50; /* Green */
    border-radius: 8px;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.5s;
}

button:hover,
button:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-color: #b94a48;
    border: 2px solid #b94a48;
}

button:focus {
    outline: 0;
}

button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000 \9;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

fieldset legend {
    margin: 0;
    padding: 0;
    border: 0;
    top: auto;
    left: auto;
    float: none;
    display: block;
    font-size: 30px;
    line-height: 18px;
    color: #b94a48;
}

textarea {
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
}

td {
    text-align: left;
    padding: 8px;

}

tr:hover {
    background-color: #17f52b;
}

tr:nth-child(odd) {
    background-color: #b9adb4
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="week"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form select,
form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="color"] {
    padding: 0.2em 0.5em;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

form input[type="file"]:focus,
form input[type="radio"]:focus,
form input[type="checkbox"]:focus {
    outline: 1px auto #129FEA;
}

form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="email"][disabled],
form input[type="url"][disabled],
form input[type="date"][disabled],
form input[type="month"][disabled],
form input[type="time"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="week"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="color"][disabled],
form select[disabled],
form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

form input[readonly],
form select[readonly],
form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

form input:focus:invalid,
form textarea:focus:invalid,
form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}

form input[type="file"]:focus:invalid:focus,
form input[type="radio"]:focus:invalid:focus,
form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}

form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}

form select[multiple] {
    height: auto;
}

form label {
    margin: 0.5em 0 0.2em;
}

form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}
