<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 

    <meta charset="UTF-8">
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../static/css/MyCSS.css">
    <script type="text/javascript" src="../static/js/MYJS.js"></script>
    <title>歌声分离|基于Deep U-net构建</title>
</head>
<body>
<fieldset>
    <legend>歌声伴奏分离</legend>
    <form method="post" action="/" enctype="multipart/form-data">
        <br>
        <br>
        <label>上传音频文件:<input type="file" name="AudioFile" multiple></label><br><br>
        <label><input type="submit" value="提交"></label><br><br>
    </form>
    <div {{info.h}}>
        歌声文件<a href="{{info.v}}" download>点击下载</a><br>
        
        
        <audio controls>
  <source src="{{info.v}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
        
        
        <br><br><br>
        
        <br>
        伴奏文件<a href="{{info.a}}" download>点击下载</a><br>
         <audio controls>
  <source src="{{info.a}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
    </div>
</fieldset>
</body>
</html>
